{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">About US</h2> -->
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">About Us</h1>
        <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p> -->
      </div>
    </div>
</section>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-12">
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-green-900 mt-4 mb-4 italic">Mission</h2>
          <p class="leading-relaxed mb-8 italic">"At Cult Green, we inspire a global community to connect with nature through gardening. We provide a welcoming space for all levels to transform spaces into green oases, contributing to a healthier world. Cult Green also empowers you to track your plant's wellness."</p>
          <div class="flex items-center flex-wrap mt-auto w-full">
          </div>
        </div>
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-green-900 mt-4 mb-4 italic">Vision</h2>
          <p class="leading-relaxed mb-8 italic">"Cult Green envisions a world where individuals globally find joy in nurturing plants. We aim to be a beacon of inspiration, encouraging environmental stewardship. Through personalized plant wellness tracking, Cult Green enhances the gardening journey for everyone."</p>
          <div class="flex items-center flex-wrap mt-auto w-full">
        </div>
      </div>
    </div>
  </section>
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Got questions, suggestions, or just want to connect? Reach out to us at Cult Green! </p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
              <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
              <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Write your message here...</label>
              <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-green-600 border-0 py-2 px-8 focus:outline-none hover:bg-green-700 rounded text-lg">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}